@charset "utf-8";

/* ------------------------------------------------ 
	[RESET] 웹폰트 
------------------------------------------------ */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight:500;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight:600;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight:700;
    font-style:normal;
    font-display:swap;
}

/* ------------------------------------------------ 
	[RESET] 변수지정
------------------------------------------------ */
:root {
	/* 여백 */
	--spacePage:2.0rem;

	/* 색상 */
	--color1:#1A1C1B;
	--color2:#4A4D4C;
	--color3:#8E9491;
	--color4:#A0AEC0;
	--point1:#23B8A7;
	--point2:#FF8A7A;
	--error:#FF4D4D;

	/* 배경 */
	--bg1:#E2E8F0;
	--bg2:#F8FAFA;
	--bg3:#1A1C1B;

	/* 라인 */
	--line1:#D9D9D9;
	--line2:#E9E9E9;
	--line3:#A0AEC0;

	/* 이미지경로 */
	--imgLogo:url('../img/logo.png');

	/* 아이콘 */
	--path-search:72.18% 62.42%, 70.61% 64.64%, 70.80% 64.82%, 88.77% 82.78%, 89.48% 83.72%, 89.93% 84.93%, 90.00% 86.16%, 89.87% 86.88%, 89.44% 87.92%, 88.84% 88.72%, 88.10% 89.34%, 86.87% 89.88%, 86.02% 90.02%, 85.00% 89.96%, 83.84% 89.56%, 82.78% 88.79%, 64.82% 70.83%, 64.64% 70.64%, 62.63% 72.09%, 59.98% 73.69%, 58.88% 74.26%, 57.47% 74.92%, 55.02% 75.89%, 52.61% 76.64%, 49.97% 77.23%, 47.74% 77.57%, 44.93% 77.77%, 42.47% 77.76%, 40.00% 77.57%, 37.47% 77.19%, 34.97% 76.62%, 33.13% 76.06%, 30.44% 75.04%, 28.23% 74.00%, 24.98% 72.07%, 22.18% 69.98%, 19.97% 67.97%, 18.47% 66.38%, 17.31% 64.99%, 15.00% 61.72%, 13.99% 59.97%, 12.77% 57.45%, 11.79% 54.94%, 11.13% 52.76%, 10.50% 50.00%, 10.15% 47.53%, 9.97% 44.99%, 9.99% 42.36%, 10.19% 40.01%, 10.64% 37.14%, 11.14% 35.06%, 12.06% 32.17%, 12.99% 29.91%, 13.91% 28.04%, 14.96% 26.20%, 15.75% 24.96%, 17.90% 22.13%, 19.83% 20.04%, 22.19% 17.87%, 24.97% 15.79%, 26.17% 15.02%, 27.90% 14.04%, 29.96% 13.03%, 32.27% 12.09%, 35.05% 11.22%, 37.40% 10.68%, 39.99% 10.29%, 42.90% 10.08%, 45.02% 10.09%, 47.69% 10.29%, 50.02% 10.64%, 52.86% 11.29%, 55.01% 11.96%, 57.35% 12.88%, 60.00% 14.18%, 61.52% 15.06%, 63.51% 16.38%, 65.00% 17.51%, 66.16% 18.49%, 67.79% 20.01%, 70.01% 22.46%, 71.88% 24.96%, 73.54% 27.70%, 74.70% 30.03%, 75.10% 30.96%, 75.87% 32.99%, 76.49% 35.01%, 77.07% 37.50%, 77.45% 39.97%, 77.65% 42.54%, 77.66% 44.95%, 77.49% 47.47%, 77.13% 50.01%, 76.62% 52.33%, 75.83% 54.98%, 74.99% 57.17%, 74.37% 58.53%, 73.64% 59.98%, 72.18% 62.42%, 63.57% 27.81%, 63.57% 27.81%, 61.82% 25.88%, 60.86% 24.97%, 59.91% 24.15%, 57.73% 22.55%, 55.01% 21.01%, 52.46% 19.97%, 50.02% 19.31%, 47.47% 18.81%, 45.00% 18.58%, 43.86% 18.47%, 42.11% 18.53%, 39.98% 18.77%, 37.38% 19.31%, 35.02% 20.06%, 32.78% 21.01%, 30.00% 22.58%, 28.44% 23.68%, 26.92% 24.94%, 25.90% 25.91%, 24.96% 26.90%, 23.70% 28.41%, 22.56% 30.02%, 21.31% 32.17%, 20.00% 35.15%, 19.31% 37.28%, 18.76% 39.95%, 18.51% 42.28%, 18.49% 44.92%, 18.72% 47.35%, 19.21% 49.91%, 19.98% 52.43%, 21.03% 54.91%, 22.48% 57.50%, 24.24% 59.98%, 25.02% 60.89%, 25.91% 61.82%, 27.83% 63.54%, 29.99% 65.14%, 32.50% 66.58%, 35.01% 67.67%, 37.51% 68.45%, 39.96% 68.96%, 42.70% 69.23%, 44.96% 69.23%, 47.30% 69.02%, 50.03% 68.50%, 52.68% 67.68%, 55.00% 66.69%, 56.67% 65.80%, 57.90% 65.03%, 59.06% 64.21%, 60.04% 63.44%, 61.82% 61.82%, 63.49% 59.98%, 64.26% 59.00%, 64.99% 57.96%, 65.88% 56.53%, 66.70% 54.98%, 67.77% 52.44%, 68.51% 49.97%, 68.94% 47.82%, 69.23% 44.96%, 69.23% 42.56%, 68.97% 39.99%, 68.49% 37.62%, 67.68% 35.00%, 66.62% 32.55%, 65.22% 30.08%, 65.04% 29.80%, 63.57% 27.81%, 72.18% 62.42%;
	--path-phone:74.38% 98.75%, 25.62% 98.75%, 23.55% 98.51%, 21.86% 97.95%, 20.81% 97.42%, 20.10% 96.97%, 19.12% 96.22%, 18.25% 95.38%, 17.70% 94.74%, 17.13% 93.93%, 16.78% 93.31%, 16.39% 92.39%, 16.09% 91.29%, 15.90% 89.90%, 15.87% 89.00%, 15.87% 11.00%, 15.96% 9.70%, 16.27% 8.23%, 16.65% 7.19%, 17.19% 6.12%, 17.75% 5.27%, 18.54% 4.30%, 19.73% 3.23%, 20.80% 2.52%, 22.16% 1.89%, 23.24% 1.55%, 24.37% 1.33%, 25.62% 1.25%, 74.38% 1.25%, 76.09% 1.40%, 77.20% 1.68%, 78.12% 2.01%, 79.23% 2.56%, 79.99% 3.05%, 80.60% 3.51%, 81.19% 4.03%, 81.70% 4.56%, 82.41% 5.43%, 82.94% 6.23%, 83.52% 7.43%, 83.85% 8.46%, 84.09% 9.99%, 84.13% 11.00%, 84.13% 89.00%, 84.12% 89.89%, 84.07% 90.87%, 83.96% 91.79%, 83.72% 92.76%, 83.28% 93.87%, 82.57% 95.05%, 81.77% 95.97%, 81.02% 96.68%, 80.16% 97.38%, 79.26% 97.94%, 78.48% 98.28%, 77.04% 98.62%, 75.42% 98.74%, 74.38% 98.75%, 59.75% 11.00%, 59.75% 13.44%, 59.66% 14.11%, 59.51% 14.51%, 59.35% 14.78%, 59.04% 15.16%, 58.75% 15.41%, 58.43% 15.61%, 57.93% 15.80%, 57.31% 15.88%, 42.69% 15.88%, 42.14% 15.82%, 41.70% 15.68%, 41.32% 15.46%, 40.96% 15.16%, 40.72% 14.87%, 40.44% 14.40%, 40.30% 13.95%, 40.25% 13.44%, 40.25% 11.00%, 28.06% 11.00%, 27.58% 11.03%, 27.07% 11.18%, 26.62% 11.46%, 26.30% 11.76%, 25.96% 12.15%, 25.78% 12.47%, 25.64% 13.00%, 25.62% 13.44%, 25.62% 76.81%, 25.67% 77.38%, 25.93% 78.04%, 26.34% 78.54%, 26.75% 78.89%, 27.26% 79.15%, 28.06% 79.25%, 71.94% 79.25%, 72.47% 79.21%, 72.90% 79.08%, 73.33% 78.82%, 73.71% 78.48%, 74.05% 78.08%, 74.28% 77.63%, 74.36% 77.23%, 74.38% 76.81%, 74.38% 13.44%, 74.34% 12.93%, 74.26% 12.58%, 74.05% 12.17%, 73.78% 11.83%, 73.40% 11.48%, 73.02% 11.25%, 72.47% 11.05%, 71.94% 11.00%, 59.75% 11.00%, 50.94% 84.25%, 50.00% 84.13%, 49.22% 84.21%, 48.46% 84.46%, 47.84% 84.83%, 47.24% 85.38%, 46.88% 85.88%, 46.59% 86.45%, 46.41% 87.09%, 46.34% 87.78%, 46.53% 88.93%, 46.79% 89.53%, 47.22% 90.16%, 47.70% 90.63%, 48.20% 90.96%, 48.83% 91.25%, 49.39% 91.39%, 50.00% 91.44%, 50.73% 91.36%, 51.46% 91.14%, 52.07% 90.80%, 52.51% 90.44%, 52.95% 89.94%, 53.27% 89.41%, 53.57% 88.56%, 53.66% 87.78%, 53.61% 87.18%, 53.43% 86.50%, 53.15% 85.92%, 52.73% 85.35%, 52.26% 84.91%, 51.58% 84.48%, 50.94% 84.25%, 59.75% 11.00%;
	--path-close: 47% 54.73%, 63.03% 67.77%, 63.30% 68.00%, 63.59% 68.20%, 64.10% 68.47%, 64.45% 68.61%, 65.02% 68.73%, 65.40% 68.75%, 65.90% 68.72%, 66.32% 68.63%, 66.79% 68.45%, 67.21% 68.22%, 67.51% 68.00%, 67.77% 67.77%, 68.17% 67.30%, 68.41% 66.87%, 68.59% 66.42%, 68.72% 65.82%, 68.74% 65.21%, 68.65% 64.59%, 68.51% 64.16%, 68.32% 63.75%, 68.03% 63.33%, 67.77% 63.03%, 54.74% 50.00%, 67.77% 36.97%, 68.30% 36.27%, 68.63% 35.47%, 68.75% 34.56%, 68.62% 33.66%, 68.25% 32.83%, 67.77% 32.23%, 67.18% 31.76%, 66.36% 31.39%, 65.31% 31.25%, 64.44% 31.39%, 63.68% 31.72%, 63.03% 32.23%, 50.00% 45.26%, 36.97% 32.23%, 36.40% 31.77%, 35.72% 31.44%, 35.13% 31.29%, 34.49% 31.25%, 33.77% 31.35%, 33.20% 31.55%, 32.68% 31.85%, 32.23% 32.23%, 31.84% 32.70%, 31.54% 33.23%, 31.36% 33.75%, 31.26% 34.29%, 31.28% 35.05%, 31.43% 35.68%, 31.71% 36.28%, 31.95% 36.64%, 32.23% 36.97%, 45.26% 50.00%, 32.23% 63.03%, 31.85% 63.48%, 31.56% 63.99%, 31.36% 64.53%, 31.26% 65.15%, 31.26% 65.67%, 31.37% 66.30%, 31.58% 66.85%, 31.88% 67.35%, 32.23% 67.77%, 32.64% 68.12%, 33.15% 68.42%, 33.69% 68.62%, 34.31% 68.73%, 34.96% 68.73%, 35.51% 68.62%, 36.16% 68.36%, 36.69% 68.02%, 36.97% 67.77%, 50.00% 54.73%;
}

/* ------------------------------------------------ 
	[RESET] 조기화
------------------------------------------------ */
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,s
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section  {padding:0;margin:0;box-sizing:border-box;font:inherit;color:inherit}
html {padding:0;margin:0;font-size:10px;}
body {padding:0;margin:0;line-height:1.5;font-family:'Pretendard';font-size:1.6rem;color:var(--color1)}
input,select,button {font-family:'Pretendard';font-size:1.6rem;color:var(--color1);outline:0;}
input::placeholder {color:var(--color4);}
table {width:100%;border-collapse:collapse;border-spacing:0;}
caption {position:absolute;left:0;top:0;color:transparent;opacity:0;}
a {text-decoration:none;}
ul, li , ol {list-style:none;}
.none {display:none;}

/* ------------------------------------------------ 
	[LAYOUT] HEADER 
------------------------------------------------ */
.gui-header {position:sticky;top:0;background:#fff;z-index:10;}
.gui-header > h1 {position:relative;padding:1.6rem 0 1.6rem 6.8rem;min-height:8.0rem;}
.gui-header > h1 > strong {overflow:hidden;display:block;position:absolute;top:calc(50% - 1.6rem);left:2.0rem;width:3.2rem;height:3.2rem;background:var(--imgLogo) no-repeat 0 0 / 100% auto;font-size:1px;color:transparent;}
.gui-header > h1 > em {display:block;font-size:2.0rem;font-weight:700;}
.gui-header > h1 > span {display:block;font-size:1.2rem;}
.gui-header .gui-search {overflow:hidden;position:absolute;top:1.6rem;right:17.0rem;width:32.0rem;border:1px solid var(--line3);border-radius:2.4rem;}
.gui-header .gui-search:after {content:'';display:block;position:absolute;top:1.2rem;right:2.4rem;width:2.4rem;height:2.4rem;background:var(--line3);clip-path: polygon(var(--path-search));}
.gui-header .gui-search > input {padding:0 2.4rem;height:4.8rem;border:0;}
.gui-header .gui-search:focus-within {border-color:var(--color1)}
.gui-header .gui-nav {display:flex;overflow-x:auto;overflow-y:hidden;height:4.8rem;padding:0 2.0rem;background:#F8F8F8;border-top:1px solid var(--line3);border-bottom:1px solid var(--line3);}
.gui-header .gui-nav a {flex-shrink:0;position:relative;margin-right:2.0rem;height:4.8rem;line-height:4.8rem;}
.gui-header .gui-nav a.active {color:var(--point1);font-weight:700;}
.gui-header .gui-nav a.active:after {content:'';display:block;position:absolute;left:0;bottom:0;right:0;height:0.4rem;background:var(--point1);}
.gui-header .gui-btn {display:block;position:absolute;top:1.6rem;}
.gui-header .gui-btn.link {right:7.4rem;padding:0 2.4rem;height:4.8rem;border-radius:2.4rem;background-color:#555;color:#fff;line-height:4.8rem;font-weight:500;}
.gui-header .gui-btn.link:last-child {right:2.0rem;}
.gui-header .gui-btn.view {overflow:hidden;right:2.0rem;width:4.8rem;height:4.8rem;border-radius:50%;border:1px solid var(--line3);background:#fff;font-size:1px;color:transparent;--el-bg:var(--color1)}
.gui-header .gui-btn.view:before {content:'';display:block;position:absolute;top:calc(50% - 1.2rem);left:calc(50% - 1.2rem);width:2.4rem;height:2.4rem;background:var(--el-bg);clip-path:polygon(var(--path-phone));}
.gui-header .gui-btn.view.open {background:var(--point1);border-color:var(--point1);--el-bg:#fff}
@media screen and (max-width: 768px) {
	.gui-header .gui-search,
	.gui-header .gui-btn.view {display:none;}
	.gui-header .gui-btn.link {top:2.0rem;right:2.0rem;padding:0 1.2rem;height:3.2rem;line-height:3.2rem;font-size:1.4rem;}
}

/* ------------------------------------------------ 
	[LAYOUT] CONTAINER
------------------------------------------------ */
/* 컨테이너 */
.gui-container {position:relative;padding-right:0;transition:all 0.5s;}
@media screen and (min-width: 769px) {
	.gui-container.preview {padding-right:37.5rem;}
	.gui-container.preview .gui-preview {opacity:1;width:37.5rem;}
}
@media screen and (max-width:1280px) {
	.gui-container.preview .gui-lists .gui-tbl .d1, 
	.gui-container.preview .gui-lists .gui-tbl .d2, 
	.gui-container.preview .gui-lists .gui-tbl .d3,
	.gui-container.preview .gui-lists .gui-tbl .worker,
	.gui-container.preview .gui-lists .gui-tbl .date,
	.gui-container.preview .gui-lists .gui-tbl .revi,
	.gui-container.preview .gui-lists .gui-tbl .etc {display:none;}
}
@media screen and (max-width:900px) {
	.gui-container.preview .gui-status .progress {display:none;}
}

/* 진행상황*/
.gui-status {display:flex;justify-content:center;align-items:center;width:100%;border-bottom:1px dashed var(--line3)}
.gui-status > .btns {display:flex;height:7.2rem;}
.gui-status > .btns > button {margin:0 -1px;width:6.0rem;height:100%;border:1px dashed var(--line3);border-top:0;border-bottom:0;background:#fff;text-align:center;--el-color:var(--color1);}
.gui-status > .btns > button > span {display:block;font-size:2.0rem;font-weight:700;text-decoration:underline;color:var(--el-color)}
.gui-status > .btns > button.done {--el-color:var(--point1);}
.gui-status > .btns > button.active {background-color:var(--point1);--el-color:#fff;color:#fff;}
.gui-status > .progress {overflow:hidden;display:flex;flex-direction:column;position:relative;margin-left:1.6rem;width:20.0rem;text-align:center;font-size:2.0rem;font-weight:700;color:var(--point1);--el-width:0%;}
.gui-status > .progress:before {content:'';order:2;display:block;border-radius:0.9rem;width:100%;height:1.6rem;background:linear-gradient(90deg, var(--point1) 0% ,var(--point1) var(--el-width) , #ddd var(--el-width), #ddd 100%)}
.gui-status > .progress:after {content:'';display:block;position:absolute;bottom:0;left:var(--el-width);margin-left:-0.9rem;width:0.9rem;height:1.6rem;border-radius:0 0.9rem 0.9rem 0;box-shadow:0.5rem 0.5rem 0 0.5rem #ddd;}
.gui-status > .progress[style*=': 0']:after,
.gui-status > .progress[style*=': 1%']:after,
.gui-status > .progress[style*=': 2%']:after,
.gui-status > .progress[style*=': 3%']:after {display:none;}
@media screen and (max-width: 768px) {
	.gui-status {display:none;}
}

/* 목록 */
.gui-lists > section {margin-top:-1px;padding:4.0rem 2.0rem;border-top:1px dashed var(--line3);}
.gui-lists .gui-tbl {overflow-x:auto;overflow-y:hidden;}
.gui-lists .gui-tbl thead th {height:3.2rem;background:#555;color:#fff;font-weight:700;font-size:1.1rem;}
.gui-lists .gui-tbl tbody td {padding:0 0.6rem;height:3.2rem;border-bottom:1px solid var(--line1);font-size:1.2rem;color:var(--color2);text-align:center;}
.gui-lists .gui-tbl a {font-weight:700;color:var(--color1);text-decoration:underline;}
.gui-lists .gui-tbl td.d1, 
.gui-lists .gui-tbl td.d2, 
.gui-lists .gui-tbl td.d3,
.gui-lists .gui-tbl td.name,
.gui-lists .gui-tbl td.file,
.gui-lists .gui-tbl td.etc {text-align:left;}
.gui-lists .gui-tbl .no {width:4.8rem;}
.gui-lists .gui-tbl .d1, 
.gui-lists .gui-tbl .d2, 
.gui-lists .gui-tbl .d3 {width:12.0rem;}
.gui-lists .gui-tbl .name {width:18.0rem;}
.gui-lists .gui-tbl .file {width:10.0rem;}
.gui-lists .gui-tbl .worker,
.gui-lists .gui-tbl .date,
.gui-lists .gui-tbl .revi,
.gui-lists .gui-tbl .status {width:8.0rem;}
.gui-lists .gui-tbl .status > span {display:block;margin:0 auto;padding:0 0.8rem;width:fit-content;border-radius:1.0rem;line-height:2.0rem;font-size:1.1rem;font-weight:700;}
.gui-lists .gui-tbl .status > span.done {color:var(--point1);background-color:#E2EEED;}
.gui-lists .gui-tbl .status > span.modi {color:#2390B8;background-color:#E2EAEE;}
.gui-lists .gui-tbl .status > span.wait {color:#DA7B06;background-color:#F5EFDD;}
.gui-lists .gui-tbl .status > span.ing {color:#9B06DA;background-color:#F1DEF1;}
.gui-lists .gui-tbl .status > span.revi {color:#000000;background-color:#EAEAEA;}
@media screen and (max-width: 1024px) {
	.gui-lists .gui-tbl .d2, 
	.gui-lists .gui-tbl .d3,
	.gui-lists .gui-tbl .etc {display:none;}
	.gui-lists .gui-tbl .name {width:auto;}
}
@media screen and (max-width: 768px) {
	.gui-lists > section {padding-top:3.2rem;padding-bottom:3.2rem;}
	.gui-lists .gui-tbl .worker,
	.gui-lists .gui-tbl .date,
	.gui-lists .gui-tbl .revi {display:none;}
}
@media screen and (max-width: 600px) {
	.gui-lists .gui-tbl .d1,
	.gui-lists .gui-tbl .status {display:none;}
}

/* 수정내역 */
.gui-list li {display:flex;font-size:1.4rem;}
.gui-list li + li {padding-top:1.2rem;margin-top:1.2rem;border-top:1px solid var(--line2);}
.gui-list li .date {width:6.0rem;font-weight:700;}

/* 타이틀 */
.gui-tit1 {display:flex;align-items:center;margin-bottom:1.2rem;font-size:2.0rem;font-weight:700;}
.gui-tit1 > h2, .gui-tit1 > h3, .gui-tit1 > h4, .gui-tit1 > h5, .gui-tit1 > h6 {margin-right:0.4rem;}
.gui-tit1 > p {font-size:1.4rem;color:var(--color3);}
.gui-tit2 {padding:0.4rem 0.8rem;width:fit-content;background:var(--point1);border-radius:0.6rem;font-size:1.6rem;font-weight:700;color:#fff;}

/* 미리보기 */
.gui-preview {opacity:0;position:fixed;top:12.8rem;right:0;width:0;height:calc(100vh - 12.8rem);padding:2.0rem 1.0rem 1.0rem;border-radius:2.0rem;background:#555;transition:all 0.5s;}
.gui-preview:before {content:'';opacity:0.8;display:block;position:absolute;top:0.8rem;left:50%;width:0.8rem;height:0.8rem;border-radius:50%;background:#fff;transform:translateX(-50%);}
.gui-preview iframe {width:100%;height:100%;border:0;border-radius:1.0rem;background:#fff;}
@media screen and (max-width: 768px) {
	.gui-preview {display:none;}
}

/* 가이드영역 */
.gui-container > .gui_iframe {width:100%;height:calc(100vh - 13.8rem);border:0;}
.gui-contents {width:calc(100% - 18.0rem);}
.gui-contents .gui-page {padding:2.8rem 2.0rem 2.0rem;background-color:var(--bg2);border-bottom:1px dashed var(--line1);font-size:3.4rem;font-weight:700;}
.gui-contents .gui-page > span {font-size:1.6rem;font-weight:500;color:var(--color2);}
.gui-contents .gui-page > span:before {content:'(';}
.gui-contents .gui-page > span:after {content:')';}
.gui-section {padding:4.0rem 2.0rem;border-bottom:1px dashed var(--line1);}
.gui-section:last-child {border-bottom:0;}
.gui-info {margin:1.2rem 0;}
.gui-info > p,
.gui-info > ul > li {position:relative;padding-left:0.7rem;font-size:1.4rem;color:var(--color2);}
.gui-info > p:before,
.gui-info > ul > li:before {content:'';display:block;position:absolute;left:0;top:0.8rem;width:0.3rem;height:0.3rem;border-radius:50%;background-color:var(--color2);}
.gui-info .gui-tbl {overflow:hidden;margin-top:0.8rem;border-radius:0.8rem;border:1px solid var(--line3);}
.gui-info .gui-tbl > table {margin:-1px 0;}
.gui-info .gui-tbl td,
.gui-info .gui-tbl th {padding:0.8rem 1.6rem;border-bottom:1px solid var(--line1);font-size:1.4rem;text-align:left;}
.gui-info .gui-tbl th {width:12.0rem;background-color:var(--bg2);}

@media screen and (max-width: 768px) {
	.gui-quick {display:none;}
	.gui-contents {width:100%;}
	.gui-section {padding-top:2.4rem;padding-bottom:2.4rem;}
}

/* 사이드메뉴 */
.gui-quick {overflow-y:auto;overflow-x:hidden;position:fixed;top:12.8rem;bottom:0;right:0;padding:2.0rem 0;width:18.0rem;border-left:1px solid var(--line2);}
.gui-quick > a {display:block;position:relative;padding:0.4rem 0;color:var(--el-color);--el-color:var(--color2);--el-bg:var(--line1);font-size:1.4rem;}
.gui-quick > a:after {content:'';display:block;position:absolute;top:0;left:0;bottom:0;width:0.4rem;background-color:var(--el-bg);}
.gui-quick > a:before {content:'';display:inline-block;margin-top:-0.5rem;margin-right:0.4rem;width:2.0rem;height:0.1rem;border-bottom:1px dashed var(--line1);vertical-align:middle;}
.gui-quick > .d2 {font-size:1.2rem;--el-color:var(--color3);}
.gui-quick > .d2:before {width:2.5rem;}
.gui-quick > .active {--el-color:var(--point1);--el-bg:var(--point1)}

/* 코드영역*/
.gui-code-box {display:flex;flex-wrap:wrap;margin-top:2.0rem;}
.gui-code-box [class*="gui-tit"] {position:relative;align-self:end;padding:0.4rem 1.6rem;background:#ebf2f2;border-radius:0.8rem 0.8rem 0 0;z-index:2;border:1px solid #8fbdb8;border-bottom:#ebf2f2;font-weight:500;}
.gui-code-box .gui-code-opt {display:flex;margin-left:auto;padding:0.4rem;border-radius:0.8rem 0.8rem 0 0;border:1px solid var(--line3);border-bottom:0;background:#fff;}
.gui-code-box .gui-code-opt > select {padding:0 0.8rem;border:0;font-size:1.4rem;}
.gui-code-box .gui-code-item {position:relative;margin-top:-1px;padding:2.0rem;width:100%;border:1.6rem solid #ebf2f2;border-radius:var(--el-border-radius);--el-border-radius:0;}
.gui-code-box .gui-code-item:before {content:'';display:block;position:absolute;top:-1.6rem;left:-1.6rem;bottom:-1.6rem;right:-1.6rem;border:1px solid #8fbdb8;border-radius:var(--el-border-radius);}
.gui-code-box .gui-code-item:first-child {--el-border-radius:0.8rem 0.8rem 0 0;}
.gui-code-box .gui-code-btns {position:relative;display:flex;width:100%;margin-top:-1px;border-radius:0 0 0.8rem 0.8rem;border:1px solid var(--line3);border-top:1px dashed var(--line1);background:#fff;}
.gui-code-box .gui-code-btns > button {flex:1;padding:1.0rem 0;border:0;background:transparent;font-size:1.4rem;color:var(--color2);}
.gui-code-box .gui-code-btns > button + button {border-left:1px dashed var(--line1);}
.gui-code-box .gui-code-view {display:none;overflow:hidden;position:relative;width:100%;padding:2.0rem;border-radius:0.8rem;border:1px solid var(--line3);border-top:1px dashed var(--line1);background:var(--bg2);}
.gui-code-box .gui-code-view code {tab-size:4;color:#000;font-size:1.2rem;font-family:Arial, Helvetica, sans-serif;font-weight:400;}
.gui-code-box .gui-code-view.active {display:block;margin-top:-2px;}

/* ------------------------------------------------ 
	[LAYOUT] POPUP
------------------------------------------------ */
.modal-wrap {position:fixed;top:0;right:0;bottom:0;left:0;z-index:20;display:flex;align-items:center;justify-content:center;background-color:rgba(0,0,0,0.5);}
.modal-wrap .modal-dim {position:absolute;top:0;bottom:0;right:0;left:0;background-color:rgba(0,0,0,0.5);}
.modal-wrap article {position:relative;padding:2.0rem;max-width:32.0rem;width:100%;background:#fff;border-radius:1.6rem;}
.modal-wrap article header {position:relative;display:flex;border-bottom:1px solid var(--line2);margin-bottom:2.0rem;padding-bottom:1.0rem;}
.modal-wrap article header h1 {font-size:2.0rem;font-weight:700;}
.modal-wrap article header .modal-close {overflow:hidden;position:relative;width:3.2rem;height:3.2rem;margin-left:auto;background:#fff;border:0;font-size:1px;color:transparent}
.modal-wrap article header .modal-close:after {content:'';display:block;position:absolute;top:0;left:0;width:3.2rem;height:3.2rem;background:var(--color1);clip-path:polygon(var(--path-close))}

/* ------------------------------------------------ 
	[COMMON] 코드보기 스타일 
------------------------------------------------ */
pre code.hljs{display:block;overflow-x:auto;padding:1em}
.hljs-comment{color:#697070}
.hljs-punctuation,.hljs-tag{color:#000}
.hljs-tag .hljs-attr {color:#5052df}
.hljs-tag .hljs-name {color:rgb(0, 0, 0);}
.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}
.hljs-section,.hljs-title{color:#800;font-weight:700}
.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#ab5656}
.hljs-literal{color:#695}
.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}
.hljs-meta{color:#1f7199}.hljs-meta .hljs-string{color:#38a}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:700}